<h3 class="about">About</h3>

<p>
  the starbucks versioning specification was written by
  <a target="_blank" href="http://michaelhitzker.com">michael hitzker</a>, the
  creator of
  <a target="_blank" href="https://www.spotfindr.app">spotfindr</a>
</p>

<p>
  in case you'd like to leave me a message, feel free to
  <a href="https://github.com/michaelhitzker/starver-code/issues"
    >create an issue on github</a
  >.
</p>

<h3 class="license">license</h3>

<p>
  <a href="https://www.apache.org/licenses/LICENSE-2.0">apache license 2.0</a>
</p>
