<div class="main">
  <div class="header-container">
    <img
      src="../assets/starver_icon.svg"
      class="starbucks-versioning-header-img"
    />
    <h1 class="header">
      starbucks versioning
    </h1>
  </div>

  <div class="tldr">
    <h3>tl;dr</h3>
    <p>Given a version number <code>venti.grande.tall</code>, increment the:</p>
    <ol>
      <li>
        <img
          src="../assets/starver_icon.svg"
          class="starbucks-versioning-icon"
        />
        <b>venti</b> version when you make incompatible code changes,
      </li>
      <li>
        <img
          src="../assets/starver_icon.svg"
          class="starbucks-versioning-icon"
        />
        <b>grande</b> version when you add functionality in a backwards
        compatible manner, and
      </li>
      <li>
        <img
          src="../assets/starver_icon.svg"
          class="starbucks-versioning-icon"
        />
        <b>tall</b> version when you make backwards compatible bug fixes.
      </li>
    </ol>
    <p>
      Additional labels for pre-release and build metadata are available as
      extensions to the venti.grande.tall format.
    </p>
  </div>
  <div class="introduction">
    <h3>cool, but why?</h3>
    <p>
      every dev knows the situation of trying to fix a bug for a whole freaking
      day. when you then suddenly are able to solve it (or declare it as a
      feature), you are excited to merge it into production. <br />
      but just as a grande update or tall? isn't that depressing? i mean, you
      worked your ass off just for a "grande" update?!<br />
      that's why i invented starbucks versioning (well, it's basically just
      semantic versioning, but way better). now you didn't create a grande
      update or tall, you created a <b>grande</b> or <b>tall</b> update! (cool,
      eh?) this sounds way cooler and also boosts your motivation. when telling
      your one friend that you merged a minor update into production, he'd
      probably say "whatever", but if you tell him that you merged a
      <b>grande</b> update into production, he'd probably say something like
      "amazing! but why do you use italian words?"<br />
      also, as a coffee lover (as every dev is, right?), the fancy-sounding
      words <b>venti</b>, <b>grande</b> and <b>tall</b> are by far easier to
      remember than those strange, english-sounding words major, minor and patch
    </p>
    <app-specification></app-specification>
    <app-faq></app-faq>
    <app-about></app-about>
  </div>
</div>
